<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lessonlearned">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".CreateTutorPosting"
            android:label="@string/title_activity_create_tutor_posting"
            android:theme="@style/AppTheme.PopUp"></activity>
        <activity
            android:name=".TutorProfileActivity"
            android:label="@string/title_activity_tutor_profile"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".CommentsViewAdapter"
            android:label="@string/title_activity_comments_view_adapter"
            android:theme="@style/NoActionBar" />
        <activity
            android:name=".TutorPostingActivity"
            android:theme="@style/AppTheme.PopUp" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".VerifyPhoneActivity" />
        <activity android:name=".DegreesActivity" /> <!-- android:theme="@style/AppTheme"> -->
        <activity android:name=".LoginActivity" /> <!-- &gt;>>>>>> 0788b08cf290e8a98002f465b6344c8a0eb87764 -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TutorsListActivity" />
        <activity android:name=".StudentProfileActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>